@font-face {
  font-family: "need";
  src: url(sangria/NFS_by_JLTV.ttf);
  font-size: normal;
  font-weight: normal;
}
body {
  margin: 0;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/010/334/406/large/edvige-faini-garage-new-night-webres.jpg?1523887295);
}

.titulo {
  color: white;
  font-size: 5rem;
}
.titulo h4 {
  margin: 0;
}
.barra {
  font-family: "need";
  letter-spacing: 4px;
  height: 26vh;
  backdrop-filter: blur(10px);
  border-bottom: rgb(210, 210, 210) solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opciones {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  width: 100%;
  padding-top: 1%;
  
  padding-bottom: 1%;

}
.opciones a {
  border-bottom: rgb(135, 135, 135) solid 4px;

  padding: 1%;
  border-radius: 50px;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.datos{
    color: white;
}

.centrador{
  position: relative;
  display: flex;
  height: 40vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.opciones a:hover{
  border-bottom: red solid 4px;
}
.registro{
  height: 73vh;
  border: rgb(0, 255, 106) solid 2px;
  display:flex;
  justify-content: center;
  align-items: center;

}
.cuadro{
  width: 60%;
  align-items: center;
  height: 50vh;
  border: rgb(0, 0, 0) solid 4px;
  border-radius: 20px;
  backdrop-filter: blur(10px);

  gap: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cuadrito img{
  height: 60px;
  border-right: black solid 2px;
}
.cuadrito{
  display: flex;
  border-radius: 10px;

  width: 60%;
  background: white;
  align-items: center;
  border: rgb(0, 0, 0) solid 2px;
  text-align: center;

}
#moto{
  width: 18%;
}
#bici{
  width: 15%;
}
.separador{
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;


}
#mulas{
  width: 110px;
}

.cuotas2{
  height: 73vh;
  border: red solid 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  }

  .cuadro2{
    width: 50%;
    height: 50vh;
    border: rgb(0, 0, 0) solid 4px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

  }

.separador_form{
  height: 15vh;
  color: white;
  width: 30%;
  gap: 10%;
  border: red solid 2px;
}
.boton_regis{
  height: 3vh;
  
  width: 95%;
  border-radius: 10px;
}