body{
  margin: 0;
  background: url(https://img.freepik.com/foto-gratis/carreras-autos-deportivos-traves-ia-generativa-movimiento-borroso-oscuro_188544-12490.jpg);
  background-attachment: fixed;
  object-fit: cover;
  background-size: cover;
}
#salido{
  height: 0;
}

.registro { 

    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    backdrop-filter: blur(5px);
    border-radius: 50px 50px 10px 10px;
    gap: 10%;
    border: rgb(135, 9, 9) solid 4px;
    justify-content: center;
    align-items: center;
  }

  .contenedor { 
    display: flex;
    flex-direction: column;
    width: 99, 5%;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  button {
    height: 10%;
    width: 60%;
    background: rgb(202, 202, 202);
    cursor: pointer;
    border-bottom: black solid 2px;
    border-radius: 10px;

  }
  input {
    height: 8%;
    width: 60%;
    border-radius: 10px;
    border-bottom: black solid 2px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    background: rgb(202, 202, 202);
  }
  
  #salir{ 
    height: 5vh;
    width: 20vh;
    margin: 20px;
    border-radius: 10px;
}
#salir:hover{ 
    background-color: green;
}

